<h1><center>CODE</center></h1>

<center>author : github.com/nugrohoav</center>

In [ ]:
import pandas as pd
import re

#ClEAN CHAR IN A SENTENCE
def cleanChar(row):
    row=row.lower().split()
    row=[re.sub(r'\?|\n|>|<|,|-|\.|$|~|`|!|\$|\%|\^|\&|\*|\(|\)|\+|\=|\{|\}|\;|\:|\_|\[|]|\||\"|\'|\...', '', c) if 'http' not in c else c for c in row]
    row=' '.join(row)
    return row

#GET a list of 1 Word
def word1(row):
    row=row.lower().split()
    return row

#Get a list of a pair of 2 words
def word2(row):
    N=2
    row=row.lower().split()
    row=[' '.join([row[i],row[i+(N-1)]]) for i in range(len(row)-(N-1))]
    return row

#Get a list of a pair of 3 words
def word3(row):
    N=3
    row=row.lower().split()
    row=[' '.join([row[i],row[i+(N-2)],row[i+(N-1)]]) for i in range(len(row)-(N-1))]
    return row

<h1><center>DATAFRAME DEFINITION</center></h1>

In [21]:
# initialize list of lists 
data = [['This is first test...'], ['This - is - second - test'], ['?This is, third test?']] 
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['text']) 
df

                        text
0      This is first test...
1  This - is - second - test
2      ?This is, third test?

<h1><center>CLEAN TEXT</center></h1>

In [24]:
df['text_clean']=df['text'].apply(cleanChar)
df

                        text              text_clean
0      This is first test...      this is first test
1  This - is - second - test  this  is  second  test
2      ?This is, third test?      this is third test

<h1><center>EXTRACT WORDS</center></h1>

In [26]:
df['text_1']=df['text_clean'].apply(word1)
df['text_2']=df['text_clean'].apply(word2)
df['text_3']=df['text_clean'].apply(word3)
df

,text,text_clean,text_1,text_2,text_3
0,This is first test...,this is first test,"[this, is, first, test]","[this is, is first, first test]","[this is first, is first test]"
1,This - is - second - test,this is second test,"[this, is, second, test]","[this is, is second, second test]","[this is second, is second test]"
2,"?This is, third test?",this is third test,"[this, is, third, test]","[this is, is third, third test]","[this is third, is third test]"